This notebook explores US covid-19 cases using [covid19py](https://pypi.org/project/COVID19Py/) package

In [1]:
#!pip install COVID19Py

In [2]:
import COVID19Py
import plotly.express as px

import pandas as pd
import numpy as np

### Lets explore the api

In [3]:
covid19 = COVID19Py.COVID19()

There are 3 ways to choose the source of the 
- csbs (data Conference of State Bank Supervisors)
- jhu (John Hopkins University)
- nyt (New York Times)

jhu data-source will be used as a default source if you don't specify a source parameter in your request.

In [4]:
covid19 = COVID19Py.COVID19(data_source="csbs")

In [5]:
# Quick summary
latest = covid19.getLatest()
latest

{'confirmed': 1531275, 'deaths': 90082, 'recovered': 0}

In [6]:
# Location based update (current numbers)
locations = covid19.getLocations()
locations[1]

{'id': 1,
 'country': 'US',
 'country_code': 'US',
 'country_population': 327167434,
 'province': 'New York',
 'county': 'Nassau',
 'last_updated': '2020-05-19T20:15:00Z',
 'coordinates': {'latitude': '40.74165225', 'longitude': '-73.58899619'},
 'latest': {'confirmed': 39295, 'deaths': 2060, 'recovered': 0}}

In [7]:
# longitudinal data
covid19 = COVID19Py.COVID19(data_source="jhu")
data = covid19.getLocationByCountryCode("US",timelines=True)

In [8]:
data

[{'id': 225,
  'country': 'US',
  'country_code': 'US',
  'country_population': 327167434,
  'province': '',
  'last_updated': '2020-05-20T03:30:43.926701Z',
  'coordinates': {'latitude': '37.0902', 'longitude': '-95.7129'},
  'latest': {'confirmed': 1528568, 'deaths': 91921, 'recovered': 0},
  'timelines': {'confirmed': {'latest': 1528568,
    'timeline': {'2020-01-22T00:00:00Z': 1,
     '2020-01-23T00:00:00Z': 1,
     '2020-01-24T00:00:00Z': 2,
     '2020-01-25T00:00:00Z': 2,
     '2020-01-26T00:00:00Z': 5,
     '2020-01-27T00:00:00Z': 5,
     '2020-01-28T00:00:00Z': 5,
     '2020-01-29T00:00:00Z': 5,
     '2020-01-30T00:00:00Z': 5,
     '2020-01-31T00:00:00Z': 7,
     '2020-02-01T00:00:00Z': 8,
     '2020-02-02T00:00:00Z': 8,
     '2020-02-03T00:00:00Z': 11,
     '2020-02-04T00:00:00Z': 11,
     '2020-02-05T00:00:00Z': 11,
     '2020-02-06T00:00:00Z': 11,
     '2020-02-07T00:00:00Z': 11,
     '2020-02-08T00:00:00Z': 11,
     '2020-02-09T00:00:00Z': 11,
     '2020-02-10T00:00:00Z': 11,
     '2020-02-11T00:00:00Z': 12,
     '2020-02-12T00:00:00Z': 12,
     '2020-02-13T00:00:00Z': 13,
     '2020-02-14T00:00:00Z': 13,
     '2020-02-15T00:00:00Z': 13,
     '2020-02-16T00:00:00Z': 13,
     '2020-02-17T00:00:00Z': 13,
     '2020-02-18T00:00:00Z': 13,
     '2020-02-19T00:00:00Z': 13,
     '2020-02-20T00:00:00Z': 13,
     '2020-02-21T00:00:00Z': 15,
     '2020-02-22T00:00:00Z': 15,
     '2020-02-23T00:00:00Z': 15,
     '2020-02-24T00:00:00Z': 51,
     '2020-02-25T00:00:00Z': 51,
     '2020-02-26T00:00:00Z': 57,
     '2020-02-27T00:00:00Z': 58,
     '2020-02-28T00:00:00Z': 60,
     '2020-02-29T00:00:00Z': 68,
     '2020-03-01T00:00:00Z': 74,
     '2020-03-02T00:00:00Z': 98,
     '2020-03-03T00:00:00Z': 118,
     '2020-03-04T00:00:00Z': 149,
     '2020-03-05T00:00:00Z': 217,
     '2020-03-06T00:00:00Z': 262,
     '2020-03-07T00:00:00Z': 402,
     '2020-03-08T00:00:00Z': 518,
     '2020-03-09T00:00:00Z': 583,
     '2020-03-10T00:00:00Z': 959,
     '2020-03-11T00:00:00Z': 1281,
     '2020-03-12T00:00:00Z': 1663,
     '2020-03-13T00:00:00Z': 2179,
     '2020-03-14T00:00:00Z': 2727,
     '2020-03-15T00:00:00Z': 3499,
     '2020-03-16T00:00:00Z': 4632,
     '2020-03-17T00:00:00Z': 6421,
     '2020-03-18T00:00:00Z': 7783,
     '2020-03-19T00:00:00Z': 13747,
     '2020-03-20T00:00:00Z': 19273,
     '2020-03-21T00:00:00Z': 25600,
     '2020-03-22T00:00:00Z': 33276,
     '2020-03-23T00:00:00Z': 43843,
     '2020-03-24T00:00:00Z': 53736,
     '2020-03-25T00:00:00Z': 65778,
     '2020-03-26T00:00:00Z': 83836,
     '2020-03-27T00:00:00Z': 101657,
     '2020-03-28T00:00:00Z': 121465,
     '2020-03-29T00:00:00Z': 140909,
     '2020-03-30T00:00:00Z': 161831,
     '2020-03-31T00:00:00Z': 188172,
     '2020-04-01T00:00:00Z': 213242,
     '2020-04-02T00:00:00Z': 243622,
     '2020-04-03T00:00:00Z': 275367,
     '2020-04-04T00:00:00Z': 308650,
     '2020-04-05T00:00:00Z': 336802,
     '2020-04-06T00:00:00Z': 366317,
     '2020-04-07T00:00:00Z': 397121,
     '2020-04-08T00:00:00Z': 428654,
     '2020-04-09T00:00:00Z': 462780,
     '2020-04-10T00:00:00Z': 496535,
     '2020-04-11T00:00:00Z': 526396,
     '2020-04-12T00:00:00Z': 555313,
     '2020-04-13T00:00:00Z': 580619,
     '2020-04-14T00:00:00Z': 607670,
     '2020-04-15T00:00:00Z': 636350,
     '2020-04-16T00:00:00Z': 667592,
     '2020-04-17T00:00:00Z': 699706,
     '2020-04-18T00:00:00Z': 732197,
     '2020-04-19T00:00:00Z': 758809,
     '2020-04-20T00:00:00Z': 784326,
     '2020-04-21T00:00:00Z': 811865,
     '2020-04-22T00:00:00Z': 840351,
     '2020-04-23T00:00:00Z': 869170,
     '2020-04-24T00:00:00Z': 905358,
     '2020-04-25T00:00:00Z': 938154,
     '2020-04-26T00:00:00Z': 965785,
     '2020-04-27T00:00:00Z': 988197,
     '2020-04-28T00:00:00Z': 1012582,
     '2020-04-29T00:00:00Z': 1039909,
     '2020-04-30T00:00:00Z': 1069424,
     '2020-05-01T00:00:00Z': 1103461,
     '2020-05-02T00:00:00Z': 1132539,
     '2020-05-03T00:00:00Z': 1158040,
     '2020-05-04T00:00:00Z': 1180375,
     '2020-05-05T00:00:00Z': 1204351,
     '2020-05-06T00:00:00Z': 1229331,
     '2020-05-07T00:00:00Z': 1257023,
     '2020-05-08T00:00:00Z': 1283929,
     '2020-05-09T00:00:00Z': 1309550,
     '2020-05-10T00:00:00Z': 1329260,
     '2020-05-11T00:00:00Z': 1347881,
     '2020-05-12T00:00:00Z': 1369376,
     '2020-05-13T00:00:00Z': 1390406,
     '2020-05-14T00:00:00Z': 1417774,
     '2020-05-15T00:00:00Z': 1442824,
     '2020-05-16T00:00:00Z': 1467820,
     '2020-05-17T00:00:00Z': 1486757,
     '2020-05-18T00:00:00Z': 1508308,
     '2020-05-19T00:00:00Z': 1528568}},
   'deaths': {'latest': 91921,
    'timeline': {'2020-01-22T00:00:00Z': 0,
     '2020-01-23T00:00:00Z': 0,
     '2020-01-24T00:00:00Z': 0,
     '2020-01-25T00:00:00Z': 0,
     '2020-01-26T00:00:00Z': 0,
     '2020-01-27T00:00:00Z': 0,
     '2020-01-28T00:00:00Z': 0,
     '2020-01-29T00:00:00Z': 0,
     '2020-01-30T00:00:00Z': 0,
     '2020-01-31T00:00:00Z': 0,
     '2020-02-01T00:00:00Z': 0,
     '2020-02-02T00:00:00Z': 0,
     '2020-02-03T00:00:00Z': 0,
     '2020-02-04T00:00:00Z': 0,
     '2020-02-05T00:00:00Z': 0,
     '2020-02-06T00:00:00Z': 0,
     '2020-02-07T00:00:00Z': 0,
     '2020-02-08T00:00:00Z': 0,
     '2020-02-09T00:00:00Z': 0,
     '2020-02-10T00:00:00Z': 0,
     '2020-02-11T00:00:00Z': 0,
     '2020-02-12T00:00:00Z': 0,
     '2020-02-13T00:00:00Z': 0,
     '2020-02-14T00:00:00Z': 0,
     '2020-02-15T00:00:00Z': 0,
     '2020-02-16T00:00:00Z': 0,
     '2020-02-17T00:00:00Z': 0,
     '2020-02-18T00:00:00Z': 0,
     '2020-02-19T00:00:00Z': 0,
     '2020-02-20T00:00:00Z': 0,
     '2020-02-21T00:00:00Z': 0,
     '2020-02-22T00:00:00Z': 0,
     '2020-02-23T00:00:00Z': 0,
     '2020-02-24T00:00:00Z': 0,
     '2020-02-25T00:00:00Z': 0,
     '2020-02-26T00:00:00Z': 0,
     '2020-02-27T00:00:00Z': 0,
     '2020-02-28T00:00:00Z': 0,
     '2020-02-29T00:00:00Z': 1,
     '2020-03-01T00:00:00Z': 1,
     '2020-03-02T00:00:00Z': 6,
     '2020-03-03T00:00:00Z': 7,
     '2020-03-04T00:00:00Z': 11,
     '2020-03-05T00:00:00Z': 12,
     '2020-03-06T00:00:00Z': 14,
     '2020-03-07T00:00:00Z': 17,
     '2020-03-08T00:00:00Z': 21,
     '2020-03-09T00:00:00Z': 22,
     '2020-03-10T00:00:00Z': 28,
     '2020-03-11T00:00:00Z': 36,
     '2020-03-12T00:00:00Z': 41,
     '2020-03-13T00:00:00Z': 49,
     '2020-03-14T00:00:00Z': 58,
     '2020-03-15T00:00:00Z': 73,
     '2020-03-16T00:00:00Z': 99,
     '2020-03-17T00:00:00Z': 133,
     '2020-03-18T00:00:00Z': 164,
     '2020-03-19T00:00:00Z': 258,
     '2020-03-20T00:00:00Z': 349,
     '2020-03-21T00:00:00Z': 442,
     '2020-03-22T00:00:00Z': 586,
     '2020-03-23T00:00:00Z': 786,
     '2020-03-24T00:00:00Z': 1008,
     '2020-03-25T00:00:00Z': 1316,
     '2020-03-26T00:00:00Z': 1726,
     '2020-03-27T00:00:00Z': 2265,
     '2020-03-28T00:00:00Z': 2731,
     '2020-03-29T00:00:00Z': 3420,
     '2020-03-30T00:00:00Z': 4192,
     '2020-03-31T00:00:00Z': 5367,
     '2020-04-01T00:00:00Z': 6501,
     '2020-04-02T00:00:00Z': 7921,
     '2020-04-03T00:00:00Z': 9246,
     '2020-04-04T00:00:00Z': 10855,
     '2020-04-05T00:00:00Z': 12375,
     '2020-04-06T00:00:00Z': 13894,
     '2020-04-07T00:00:00Z': 16191,
     '2020-04-08T00:00:00Z': 18270,
     '2020-04-09T00:00:00Z': 20255,
     '2020-04-10T00:00:00Z': 22333,
     '2020-04-11T00:00:00Z': 24342,
     '2020-04-12T00:00:00Z': 26086,
     '2020-04-13T00:00:00Z': 27870,
     '2020-04-14T00:00:00Z': 30262,
     '2020-04-15T00:00:00Z': 32734,
     '2020-04-16T00:00:00Z': 34827,
     '2020-04-17T00:00:00Z': 37411,
     '2020-04-18T00:00:00Z': 39753,
     '2020-04-19T00:00:00Z': 40945,
     '2020-04-20T00:00:00Z': 42659,
     '2020-04-21T00:00:00Z': 45086,
     '2020-04-22T00:00:00Z': 47412,
     '2020-04-23T00:00:00Z': 49724,
     '2020-04-24T00:00:00Z': 51493,
     '2020-04-25T00:00:00Z': 53755,
     '2020-04-26T00:00:00Z': 54881,
     '2020-04-27T00:00:00Z': 56219,
     '2020-04-28T00:00:00Z': 58355,
     '2020-04-29T00:00:00Z': 60967,
     '2020-04-30T00:00:00Z': 62996,
     '2020-05-01T00:00:00Z': 64943,
     '2020-05-02T00:00:00Z': 66369,
     '2020-05-03T00:00:00Z': 67682,
     '2020-05-04T00:00:00Z': 68922,
     '2020-05-05T00:00:00Z': 71064,
     '2020-05-06T00:00:00Z': 73455,
     '2020-05-07T00:00:00Z': 75662,
     '2020-05-08T00:00:00Z': 77180,
     '2020-05-09T00:00:00Z': 78795,
     '2020-05-10T00:00:00Z': 79526,
     '2020-05-11T00:00:00Z': 80682,
     '2020-05-12T00:00:00Z': 82356,
     '2020-05-13T00:00:00Z': 84119,
     '2020-05-14T00:00:00Z': 85898,
     '2020-05-15T00:00:00Z': 87530,
     '2020-05-16T00:00:00Z': 88754,
     '2020-05-17T00:00:00Z': 89562,
     '2020-05-18T00:00:00Z': 90347,
     '2020-05-19T00:00:00Z': 91921}},
   'recovered': {'latest': 0, 'timeline': {}}}}]

### Let's get data from India

In [9]:
covid19 = COVID19Py.COVID19(data_source="jhu")
india_data = covid19.getLocationByCountryCode("IN",timelines=True)

In [10]:
india_data

[{'id': 131,
  'country': 'India',
  'country_code': 'IN',
  'country_population': 1352617328,
  'province': '',
  'last_updated': '2020-05-20T03:30:43.276534Z',
  'coordinates': {'latitude': '21.0', 'longitude': '78.0'},
  'latest': {'confirmed': 106475, 'deaths': 3302, 'recovered': 0},
  'timelines': {'confirmed': {'latest': 106475,
    'timeline': {'2020-01-22T00:00:00Z': 0,
     '2020-01-23T00:00:00Z': 0,
     '2020-01-24T00:00:00Z': 0,
     '2020-01-25T00:00:00Z': 0,
     '2020-01-26T00:00:00Z': 0,
     '2020-01-27T00:00:00Z': 0,
     '2020-01-28T00:00:00Z': 0,
     '2020-01-29T00:00:00Z': 0,
     '2020-01-30T00:00:00Z': 1,
     '2020-01-31T00:00:00Z': 1,
     '2020-02-01T00:00:00Z': 1,
     '2020-02-02T00:00:00Z': 2,
     '2020-02-03T00:00:00Z': 3,
     '2020-02-04T00:00:00Z': 3,
     '2020-02-05T00:00:00Z': 3,
     '2020-02-06T00:00:00Z': 3,
     '2020-02-07T00:00:00Z': 3,
     '2020-02-08T00:00:00Z': 3,
     '2020-02-09T00:00:00Z': 3,
     '2020-02-10T00:00:00Z': 3,
     '2020-02-11T00:00:00Z': 3,
     '2020-02-12T00:00:00Z': 3,
     '2020-02-13T00:00:00Z': 3,
     '2020-02-14T00:00:00Z': 3,
     '2020-02-15T00:00:00Z': 3,
     '2020-02-16T00:00:00Z': 3,
     '2020-02-17T00:00:00Z': 3,
     '2020-02-18T00:00:00Z': 3,
     '2020-02-19T00:00:00Z': 3,
     '2020-02-20T00:00:00Z': 3,
     '2020-02-21T00:00:00Z': 3,
     '2020-02-22T00:00:00Z': 3,
     '2020-02-23T00:00:00Z': 3,
     '2020-02-24T00:00:00Z': 3,
     '2020-02-25T00:00:00Z': 3,
     '2020-02-26T00:00:00Z': 3,
     '2020-02-27T00:00:00Z': 3,
     '2020-02-28T00:00:00Z': 3,
     '2020-02-29T00:00:00Z': 3,
     '2020-03-01T00:00:00Z': 3,
     '2020-03-02T00:00:00Z': 5,
     '2020-03-03T00:00:00Z': 5,
     '2020-03-04T00:00:00Z': 28,
     '2020-03-05T00:00:00Z': 30,
     '2020-03-06T00:00:00Z': 31,
     '2020-03-07T00:00:00Z': 34,
     '2020-03-08T00:00:00Z': 39,
     '2020-03-09T00:00:00Z': 43,
     '2020-03-10T00:00:00Z': 56,
     '2020-03-11T00:00:00Z': 62,
     '2020-03-12T00:00:00Z': 73,
     '2020-03-13T00:00:00Z': 82,
     '2020-03-14T00:00:00Z': 102,
     '2020-03-15T00:00:00Z': 113,
     '2020-03-16T00:00:00Z': 119,
     '2020-03-17T00:00:00Z': 142,
     '2020-03-18T00:00:00Z': 156,
     '2020-03-19T00:00:00Z': 194,
     '2020-03-20T00:00:00Z': 244,
     '2020-03-21T00:00:00Z': 330,
     '2020-03-22T00:00:00Z': 396,
     '2020-03-23T00:00:00Z': 499,
     '2020-03-24T00:00:00Z': 536,
     '2020-03-25T00:00:00Z': 657,
     '2020-03-26T00:00:00Z': 727,
     '2020-03-27T00:00:00Z': 887,
     '2020-03-28T00:00:00Z': 987,
     '2020-03-29T00:00:00Z': 1024,
     '2020-03-30T00:00:00Z': 1251,
     '2020-03-31T00:00:00Z': 1397,
     '2020-04-01T00:00:00Z': 1998,
     '2020-04-02T00:00:00Z': 2543,
     '2020-04-03T00:00:00Z': 2567,
     '2020-04-04T00:00:00Z': 3082,
     '2020-04-05T00:00:00Z': 3588,
     '2020-04-06T00:00:00Z': 4778,
     '2020-04-07T00:00:00Z': 5311,
     '2020-04-08T00:00:00Z': 5916,
     '2020-04-09T00:00:00Z': 6725,
     '2020-04-10T00:00:00Z': 7598,
     '2020-04-11T00:00:00Z': 8446,
     '2020-04-12T00:00:00Z': 9205,
     '2020-04-13T00:00:00Z': 10453,
     '2020-04-14T00:00:00Z': 11487,
     '2020-04-15T00:00:00Z': 12322,
     '2020-04-16T00:00:00Z': 13430,
     '2020-04-17T00:00:00Z': 14352,
     '2020-04-18T00:00:00Z': 15722,
     '2020-04-19T00:00:00Z': 17615,
     '2020-04-20T00:00:00Z': 18539,
     '2020-04-21T00:00:00Z': 20080,
     '2020-04-22T00:00:00Z': 21370,
     '2020-04-23T00:00:00Z': 23077,
     '2020-04-24T00:00:00Z': 24530,
     '2020-04-25T00:00:00Z': 26283,
     '2020-04-26T00:00:00Z': 27890,
     '2020-04-27T00:00:00Z': 29451,
     '2020-04-28T00:00:00Z': 31324,
     '2020-04-29T00:00:00Z': 33062,
     '2020-04-30T00:00:00Z': 34863,
     '2020-05-01T00:00:00Z': 37257,
     '2020-05-02T00:00:00Z': 39699,
     '2020-05-03T00:00:00Z': 42505,
     '2020-05-04T00:00:00Z': 46437,
     '2020-05-05T00:00:00Z': 49400,
     '2020-05-06T00:00:00Z': 52987,
     '2020-05-07T00:00:00Z': 56351,
     '2020-05-08T00:00:00Z': 59695,
     '2020-05-09T00:00:00Z': 62808,
     '2020-05-10T00:00:00Z': 67161,
     '2020-05-11T00:00:00Z': 70768,
     '2020-05-12T00:00:00Z': 74292,
     '2020-05-13T00:00:00Z': 78055,
     '2020-05-14T00:00:00Z': 81997,
     '2020-05-15T00:00:00Z': 85784,
     '2020-05-16T00:00:00Z': 90648,
     '2020-05-17T00:00:00Z': 95698,
     '2020-05-18T00:00:00Z': 100328,
     '2020-05-19T00:00:00Z': 106475}},
   'deaths': {'latest': 3302,
    'timeline': {'2020-01-22T00:00:00Z': 0,
     '2020-01-23T00:00:00Z': 0,
     '2020-01-24T00:00:00Z': 0,
     '2020-01-25T00:00:00Z': 0,
     '2020-01-26T00:00:00Z': 0,
     '2020-01-27T00:00:00Z': 0,
     '2020-01-28T00:00:00Z': 0,
     '2020-01-29T00:00:00Z': 0,
     '2020-01-30T00:00:00Z': 0,
     '2020-01-31T00:00:00Z': 0,
     '2020-02-01T00:00:00Z': 0,
     '2020-02-02T00:00:00Z': 0,
     '2020-02-03T00:00:00Z': 0,
     '2020-02-04T00:00:00Z': 0,
     '2020-02-05T00:00:00Z': 0,
     '2020-02-06T00:00:00Z': 0,
     '2020-02-07T00:00:00Z': 0,
     '2020-02-08T00:00:00Z': 0,
     '2020-02-09T00:00:00Z': 0,
     '2020-02-10T00:00:00Z': 0,
     '2020-02-11T00:00:00Z': 0,
     '2020-02-12T00:00:00Z': 0,
     '2020-02-13T00:00:00Z': 0,
     '2020-02-14T00:00:00Z': 0,
     '2020-02-15T00:00:00Z': 0,
     '2020-02-16T00:00:00Z': 0,
     '2020-02-17T00:00:00Z': 0,
     '2020-02-18T00:00:00Z': 0,
     '2020-02-19T00:00:00Z': 0,
     '2020-02-20T00:00:00Z': 0,
     '2020-02-21T00:00:00Z': 0,
     '2020-02-22T00:00:00Z': 0,
     '2020-02-23T00:00:00Z': 0,
     '2020-02-24T00:00:00Z': 0,
     '2020-02-25T00:00:00Z': 0,
     '2020-02-26T00:00:00Z': 0,
     '2020-02-27T00:00:00Z': 0,
     '2020-02-28T00:00:00Z': 0,
     '2020-02-29T00:00:00Z': 0,
     '2020-03-01T00:00:00Z': 0,
     '2020-03-02T00:00:00Z': 0,
     '2020-03-03T00:00:00Z': 0,
     '2020-03-04T00:00:00Z': 0,
     '2020-03-05T00:00:00Z': 0,
     '2020-03-06T00:00:00Z': 0,
     '2020-03-07T00:00:00Z': 0,
     '2020-03-08T00:00:00Z': 0,
     '2020-03-09T00:00:00Z': 0,
     '2020-03-10T00:00:00Z': 0,
     '2020-03-11T00:00:00Z': 1,
     '2020-03-12T00:00:00Z': 1,
     '2020-03-13T00:00:00Z': 2,
     '2020-03-14T00:00:00Z': 2,
     '2020-03-15T00:00:00Z': 2,
     '2020-03-16T00:00:00Z': 2,
     '2020-03-17T00:00:00Z': 3,
     '2020-03-18T00:00:00Z': 3,
     '2020-03-19T00:00:00Z': 4,
     '2020-03-20T00:00:00Z': 5,
     '2020-03-21T00:00:00Z': 4,
     '2020-03-22T00:00:00Z': 7,
     '2020-03-23T00:00:00Z': 10,
     '2020-03-24T00:00:00Z': 10,
     '2020-03-25T00:00:00Z': 12,
     '2020-03-26T00:00:00Z': 20,
     '2020-03-27T00:00:00Z': 20,
     '2020-03-28T00:00:00Z': 24,
     '2020-03-29T00:00:00Z': 27,
     '2020-03-30T00:00:00Z': 32,
     '2020-03-31T00:00:00Z': 35,
     '2020-04-01T00:00:00Z': 58,
     '2020-04-02T00:00:00Z': 72,
     '2020-04-03T00:00:00Z': 72,
     '2020-04-04T00:00:00Z': 86,
     '2020-04-05T00:00:00Z': 99,
     '2020-04-06T00:00:00Z': 136,
     '2020-04-07T00:00:00Z': 150,
     '2020-04-08T00:00:00Z': 178,
     '2020-04-09T00:00:00Z': 226,
     '2020-04-10T00:00:00Z': 246,
     '2020-04-11T00:00:00Z': 288,
     '2020-04-12T00:00:00Z': 331,
     '2020-04-13T00:00:00Z': 358,
     '2020-04-14T00:00:00Z': 393,
     '2020-04-15T00:00:00Z': 405,
     '2020-04-16T00:00:00Z': 448,
     '2020-04-17T00:00:00Z': 486,
     '2020-04-18T00:00:00Z': 521,
     '2020-04-19T00:00:00Z': 559,
     '2020-04-20T00:00:00Z': 592,
     '2020-04-21T00:00:00Z': 645,
     '2020-04-22T00:00:00Z': 681,
     '2020-04-23T00:00:00Z': 721,
     '2020-04-24T00:00:00Z': 780,
     '2020-04-25T00:00:00Z': 825,
     '2020-04-26T00:00:00Z': 881,
     '2020-04-27T00:00:00Z': 939,
     '2020-04-28T00:00:00Z': 1008,
     '2020-04-29T00:00:00Z': 1079,
     '2020-04-30T00:00:00Z': 1154,
     '2020-05-01T00:00:00Z': 1223,
     '2020-05-02T00:00:00Z': 1323,
     '2020-05-03T00:00:00Z': 1391,
     '2020-05-04T00:00:00Z': 1566,
     '2020-05-05T00:00:00Z': 1693,
     '2020-05-06T00:00:00Z': 1785,
     '2020-05-07T00:00:00Z': 1889,
     '2020-05-08T00:00:00Z': 1985,
     '2020-05-09T00:00:00Z': 2101,
     '2020-05-10T00:00:00Z': 2212,
     '2020-05-11T00:00:00Z': 2294,
     '2020-05-12T00:00:00Z': 2415,
     '2020-05-13T00:00:00Z': 2551,
     '2020-05-14T00:00:00Z': 2649,
     '2020-05-15T00:00:00Z': 2753,
     '2020-05-16T00:00:00Z': 2871,
     '2020-05-17T00:00:00Z': 3025,
     '2020-05-18T00:00:00Z': 3156,
     '2020-05-19T00:00:00Z': 3302}},
   'recovered': {'latest': 0, 'timeline': {}}}}]

In [11]:
# Longitudinal data of confirmed cases from India
india_data[0]['timelines']['confirmed']['timeline'].items()

dict_items([('2020-01-22T00:00:00Z', 0), ('2020-01-23T00:00:00Z', 0), ('2020-01-24T00:00:00Z', 0), ('2020-01-25T00:00:00Z', 0), ('2020-01-26T00:00:00Z', 0), ('2020-01-27T00:00:00Z', 0), ('2020-01-28T00:00:00Z', 0), ('2020-01-29T00:00:00Z', 0), ('2020-01-30T00:00:00Z', 1), ('2020-01-31T00:00:00Z', 1), ('2020-02-01T00:00:00Z', 1), ('2020-02-02T00:00:00Z', 2), ('2020-02-03T00:00:00Z', 3), ('2020-02-04T00:00:00Z', 3), ('2020-02-05T00:00:00Z', 3), ('2020-02-06T00:00:00Z', 3), ('2020-02-07T00:00:00Z', 3), ('2020-02-08T00:00:00Z', 3), ('2020-02-09T00:00:00Z', 3), ('2020-02-10T00:00:00Z', 3), ('2020-02-11T00:00:00Z', 3), ('2020-02-12T00:00:00Z', 3), ('2020-02-13T00:00:00Z', 3), ('2020-02-14T00:00:00Z', 3), ('2020-02-15T00:00:00Z', 3), ('2020-02-16T00:00:00Z', 3), ('2020-02-17T00:00:00Z', 3), ('2020-02-18T00:00:00Z', 3), ('2020-02-19T00:00:00Z', 3), ('2020-02-20T00:00:00Z', 3), ('2020-02-21T00:00:00Z', 3), ('2020-02-22T00:00:00Z', 3), ('2020-02-23T00:00:00Z', 3), ('2020-02-24T00:00:00Z', 3), ('2020-02-25T00:00:00Z', 3), ('2020-02-26T00:00:00Z', 3), ('2020-02-27T00:00:00Z', 3), ('2020-02-28T00:00:00Z', 3), ('2020-02-29T00:00:00Z', 3), ('2020-03-01T00:00:00Z', 3), ('2020-03-02T00:00:00Z', 5), ('2020-03-03T00:00:00Z', 5), ('2020-03-04T00:00:00Z', 28), ('2020-03-05T00:00:00Z', 30), ('2020-03-06T00:00:00Z', 31), ('2020-03-07T00:00:00Z', 34), ('2020-03-08T00:00:00Z', 39), ('2020-03-09T00:00:00Z', 43), ('2020-03-10T00:00:00Z', 56), ('2020-03-11T00:00:00Z', 62), ('2020-03-12T00:00:00Z', 73), ('2020-03-13T00:00:00Z', 82), ('2020-03-14T00:00:00Z', 102), ('2020-03-15T00:00:00Z', 113), ('2020-03-16T00:00:00Z', 119), ('2020-03-17T00:00:00Z', 142), ('2020-03-18T00:00:00Z', 156), ('2020-03-19T00:00:00Z', 194), ('2020-03-20T00:00:00Z', 244), ('2020-03-21T00:00:00Z', 330), ('2020-03-22T00:00:00Z', 396), ('2020-03-23T00:00:00Z', 499), ('2020-03-24T00:00:00Z', 536), ('2020-03-25T00:00:00Z', 657), ('2020-03-26T00:00:00Z', 727), ('2020-03-27T00:00:00Z', 887), ('2020-03-28T00:00:00Z', 987), ('2020-03-29T00:00:00Z', 1024), ('2020-03-30T00:00:00Z', 1251), ('2020-03-31T00:00:00Z', 1397), ('2020-04-01T00:00:00Z', 1998), ('2020-04-02T00:00:00Z', 2543), ('2020-04-03T00:00:00Z', 2567), ('2020-04-04T00:00:00Z', 3082), ('2020-04-05T00:00:00Z', 3588), ('2020-04-06T00:00:00Z', 4778), ('2020-04-07T00:00:00Z', 5311), ('2020-04-08T00:00:00Z', 5916), ('2020-04-09T00:00:00Z', 6725), ('2020-04-10T00:00:00Z', 7598), ('2020-04-11T00:00:00Z', 8446), ('2020-04-12T00:00:00Z', 9205), ('2020-04-13T00:00:00Z', 10453), ('2020-04-14T00:00:00Z', 11487), ('2020-04-15T00:00:00Z', 12322), ('2020-04-16T00:00:00Z', 13430), ('2020-04-17T00:00:00Z', 14352), ('2020-04-18T00:00:00Z', 15722), ('2020-04-19T00:00:00Z', 17615), ('2020-04-20T00:00:00Z', 18539), ('2020-04-21T00:00:00Z', 20080), ('2020-04-22T00:00:00Z', 21370), ('2020-04-23T00:00:00Z', 23077), ('2020-04-24T00:00:00Z', 24530), ('2020-04-25T00:00:00Z', 26283), ('2020-04-26T00:00:00Z', 27890), ('2020-04-27T00:00:00Z', 29451), ('2020-04-28T00:00:00Z', 31324), ('2020-04-29T00:00:00Z', 33062), ('2020-04-30T00:00:00Z', 34863), ('2020-05-01T00:00:00Z', 37257), ('2020-05-02T00:00:00Z', 39699), ('2020-05-03T00:00:00Z', 42505), ('2020-05-04T00:00:00Z', 46437), ('2020-05-05T00:00:00Z', 49400), ('2020-05-06T00:00:00Z', 52987), ('2020-05-07T00:00:00Z', 56351), ('2020-05-08T00:00:00Z', 59695), ('2020-05-09T00:00:00Z', 62808), ('2020-05-10T00:00:00Z', 67161), ('2020-05-11T00:00:00Z', 70768), ('2020-05-12T00:00:00Z', 74292), ('2020-05-13T00:00:00Z', 78055), ('2020-05-14T00:00:00Z', 81997), ('2020-05-15T00:00:00Z', 85784), ('2020-05-16T00:00:00Z', 90648), ('2020-05-17T00:00:00Z', 95698), ('2020-05-18T00:00:00Z', 100328), ('2020-05-19T00:00:00Z', 106475)])

In [12]:
df = pd.DataFrame.from_dict(india_data[0]['timelines']['confirmed']['timeline'].items())
df.tail()

                        0       1
114  2020-05-15T00:00:00Z   85784
115  2020-05-16T00:00:00Z   90648
116  2020-05-17T00:00:00Z   95698
117  2020-05-18T00:00:00Z  100328
118  2020-05-19T00:00:00Z  106475

^ So we have data for last 115 days. Let' create a formatted dataframe

In [13]:
covid19 = COVID19Py.COVID19(data_source="jhu")
india_data = covid19.getLocationByCountryCode("IN",timelines=True)
# dict to df
df = pd.DataFrame.from_dict(india_data[0]['timelines']['confirmed']['timeline'].items())
# rename
mapping = {df.columns[0]:'datetime', df.columns[1]: 'confirmed_cases'}
df = df.rename(columns=mapping)
# get date column
df['date'] = pd.to_datetime(df['datetime'])
df['date'] = df['date'].dt.date
india_confirmed = df
india_confirmed['country'] = 'India'
india_confirmed['percent_change'] = 100*india_confirmed.confirmed_cases.pct_change()
india_confirmed['percent_change'][0] = 0.00000
# reverse the df
india_confirmed = india_confirmed.reindex(index=india_confirmed.index[::-1])
india_confirmed.head()

/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 datetime  confirmed_cases        date country  percent_change
118  2020-05-19T00:00:00Z           106475  2020-05-19   India        6.126904
117  2020-05-18T00:00:00Z           100328  2020-05-18   India        4.838137
116  2020-05-17T00:00:00Z            95698  2020-05-17   India        5.571000
115  2020-05-16T00:00:00Z            90648  2020-05-16   India        5.670055
114  2020-05-15T00:00:00Z            85784  2020-05-15   India        4.618462

In [14]:
# lets get a T - day column 
india_confirmed.reset_index(drop=True,inplace=True)
india_confirmed['days_ago'] = india_confirmed.index + 1
india_confirmed.head()

,datetime,confirmed_cases,date,country,percent_change,days_ago
0,2020-05-19T00:00:00Z,106475,2020-05-19,India,6.126904,1
1,2020-05-18T00:00:00Z,100328,2020-05-18,India,4.838137,2
2,2020-05-17T00:00:00Z,95698,2020-05-17,India,5.571000,3
3,2020-05-16T00:00:00Z,90648,2020-05-16,India,5.670055,4
4,2020-05-15T00:00:00Z,85784,2020-05-15,India,4.618462,5

### Let's get data from USA

In [15]:
covid19 = COVID19Py.COVID19(data_source="jhu")
us_data = covid19.getLocationByCountryCode("US",timelines=True)
# dict to df
df = pd.DataFrame.from_dict(us_data[0]['timelines']['confirmed']['timeline'].items())
# rename
mapping = {df.columns[0]:'datetime', df.columns[1]: 'confirmed_cases'}
df = df.rename(columns=mapping)
# get date column
df['date'] = pd.to_datetime(df['datetime'])
df['date'] = df['date'].dt.date
us_confirmed = df
us_confirmed['country'] = 'US'
us_confirmed['percent_change'] = 100*us_confirmed.confirmed_cases.pct_change()
us_confirmed['percent_change'][0] = 0.00000
# reverse the df
us_confirmed = us_confirmed.reindex(index=us_confirmed.index[::-1])
us_confirmed.head()

/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 datetime  confirmed_cases        date country  percent_change
118  2020-05-19T00:00:00Z          1528568  2020-05-19      US        1.343227
117  2020-05-18T00:00:00Z          1508308  2020-05-18      US        1.449531
116  2020-05-17T00:00:00Z          1486757  2020-05-17      US        1.290145
115  2020-05-16T00:00:00Z          1467820  2020-05-16      US        1.732436
114  2020-05-15T00:00:00Z          1442824  2020-05-15      US        1.766854

In [16]:
us_confirmed.reset_index(drop=True,inplace=True)
us_confirmed['days_ago'] = us_confirmed.index + 1
us_confirmed.head()

,datetime,confirmed_cases,date,country,percent_change,days_ago
0,2020-05-19T00:00:00Z,1528568,2020-05-19,US,1.343227,1
1,2020-05-18T00:00:00Z,1508308,2020-05-18,US,1.449531,2
2,2020-05-17T00:00:00Z,1486757,2020-05-17,US,1.290145,3
3,2020-05-16T00:00:00Z,1467820,2020-05-16,US,1.732436,4
4,2020-05-15T00:00:00Z,1442824,2020-05-15,US,1.766854,5

In [ ]:
# Last 30 days
df = pd.concat([us_confirmed.iloc[:30,],india_confirmed.iloc[:30,]],ignore_index=True)
fig = px.scatter(df, x="days_ago", y="confirmed_cases", color="country", trendline="ols")
fig['layout']['xaxis']['autorange'] = "reversed"
fig.show()

results = px.get_trendline_results(fig)
print(results)

In [ ]:
# Last 10 days
df = pd.concat([us_confirmed.iloc[:10,],india_confirmed.iloc[:10,]],ignore_index=True)
fig = px.scatter(df, x="days_ago", y="confirmed_cases", color="country", trendline="ols")
fig['layout']['xaxis']['autorange'] = "reversed"
fig.show()

results = px.get_trendline_results(fig)
print(results)

In [ ]:
# Last 30 days - Percent Change
df = pd.concat([us_confirmed.iloc[:30,],india_confirmed.iloc[:30,]],ignore_index=True)
fig = px.scatter(df, x="days_ago", y="percent_change", color="country", trendline="ols")
fig['layout']['xaxis']['autorange'] = "reversed"
fig.update_layout(title_text='Daily Percent Increase in COVID-19 cases (last 30 days)')
fig.show()

#results = px.get_trendline_results(fig)
#print(results)

In [ ]:
india_confirmed.head()

In [ ]:
us_confirmed.head()

In [ ]:
# US - Percent Change
df = us_confirmed
fig = px.scatter(df, x="days_ago", y="percent_change", color="country", trendline="ols")
fig['layout']['xaxis']['autorange'] = "reversed"
fig.update_layout(title_text='US - Daily Percent Increase in COVID-19 cases (last 120 days)')
fig.show()

In [ ]:
# India - Percent Change
df = india_confirmed
fig = px.scatter(df, x="days_ago", y="percent_change", color="country", trendline="ols")
fig['layout']['xaxis']['autorange'] = "reversed"
fig.update_layout(title_text='India - Daily Percent Increase in COVID-19 cases (last 120 days)')
fig.show()

^ As we can see outliers reduce the usablity of this plot significantly.

So let's add log scale

In [ ]:
# India - Percent Change
df = india_confirmed
fig = px.scatter(df, x="days_ago", y="percent_change", color="country", trendline="ols")
fig['layout']['xaxis']['autorange'] = "reversed"
fig.update_layout(yaxis_type="log")
fig.update_layout(title_text='India - Daily Percent Increase in COVID-19 cases (last 120 days on log scale)')
fig.show()